.card-panel {
    padding: 30px;
}
img {
    padding-top: 10px;
}
.brand-logo {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 26px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    color: white;
}

/*@media screen and (max-width: 768px) {
  .brand-logo {
    border: 2px red solid;
  }

}*/